.Bar a{
    margin-top: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.603);
    /* font-weight: bold; */
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}
.Bar a:hover{
    color: rgb(0, 195, 255);
}
.Bar{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}