
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App{

  display: flex;
  flex-direction: column;
    /* display: grid;
    grid-template-areas: 
    "Navbar Navbar" 
    "Bar Main";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-gap: 10px;
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto; */
}



 .main-layout {
  display: flex;
  align-items: start;
}

.page-content {
  flex: 1;
  padding: 20px;
} 




.Navbar{
  grid-area: Navbar;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  border-bottom:  1px solid #ffffffaf;
  color: white;
}

.Bar{
    grid-area: Bar;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    height: 91vh;
}
/* .Main{
    grid-area: Main ;
    padding: 10px 20px;
    background-color: #282c3465;
    color: white;
} */

